*~
.*~
modules
modules.*
vagrantfiles
.vagrant
.librarian
Puppetfile.lock
clean.cmd
prep.cmd
import_modules.sh
import_modules.trusty.sh
import_modules.win.cmd
import_modules.win.sh
import_vagrantfiles.sh
import_vagrantfiles.cmd
test_vars.cmd
libpup.*
install-modules.bak.*
modules.bak.*
